{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->

    <div class="row">
        <div class="col-3 profilMenu">
            <div class="titreMenuProfil">
                <h2>ADMINISTRATION</h2>
            </div>

            <div class="menuProfil">
                <ul>
                    <li><a class="alluserLink" href="{{ path('alluser') }}">Utilisateurs</a></li>
                    <li><a class="statisticalLink" href="{{ path('statistical') }}">Statistique</a></li>
                    <li><a class="reportingLink" href="{{ path('reporting') }}">Signalement</a></li>
                </ul>
            </div>
        </div>


        <div class="col-lg-9">
            <h4 class="card-title">Signalement</h4>
            <form class="form-inline">
                <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
            </form>

            <div class="tab-content">
                {% if user != null %}
                <table class="table">
                    <thead class="blue-grey lighteen-4">
                    <tr>
                        <th>Photo</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Emaile</th>
                        <th>Spécialité</th>
                    </tr>
                    </thead>
                    {% for users in user %}
                        <tbody>
                        <tr>
                            <td><a class="userPhoto" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ user.imageFile  }}</a></td>
                            <td><a class="userFirstName" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ user.firstName }}</a></td>
                            <td><a class="userLastName" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ user.lastName }}</a></td>
                            <td><a class="userEmail" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ user.email }}</a></td>
                            <td><a class="userSpeciality" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ user.speciality  }}</a></td>


                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div class="alert alert-warning">Pas d'utilisateurs trouvés</div>
            {% endif %}
        </div>
    </div>



    <!--/.Panel-->
{% endblock %}