{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->

    <div class="row">
        <div class="col-3 profilMenu">
            <div class="titreMenuProfil">
                <h2>VALIDATION</h2>
            </div>

            <div class="menuProfil">
                <ul>
                    <li><a class="tovalidateLink" href="{{ path('tovalidate') }}">A valider</a></li>
                    <li><a class="historicalLink" href="{{ path('historical') }}">Historique</a></li>
                    <li><a class="myrefusalLink" href="{{ path('myrefusal') }}">Refusées</a></li>
                </ul>
            </div>
        </div>


        <div class="col-lg-9">
            <h4 class="card-title">{{ titleTable }}</h4>
            <div class="tab-content">
                {% if observation != null %}
                <table class="table">
                    <thead class="blue-grey lighteen-4">
                    <tr>
                        <th>Photo</th>
                        <th>Date</th>
                        <th>Nom</th>
                        <th>Famille</th>
                        <th>État</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for observations in observation %}
                        <tbody>
                        <tr>
                            <td><a class="observationPhoto" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.observationImages  }}</a></td>
                            <td><a class="observationDate" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.observationDate |date("d/m/Y") }}</a></td>
                            <td><a class="observationNom" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.user }}</a></td>
                            <td><a class="observationFamille" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.taxref }}</a></td>
                            <td><a class="observationÉtat" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.observationStatus  }}</a></td>

                            <td>

                                <a href="{{ path('pageTest', { 'id': observations.id }) }}" class="btn btn-success btn-xs" title="PreviewObservationLien"><span class="glyphicon glyphicon-edit"></span></a>



                            </td>

                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div class="alert alert-warning">Pas d'observation trouvée </div>
            {% endif %}
        </div>
    </div>



    <!--/.Panel-->
{% endblock %}
