{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->

    <div class="row">
        <div class="col-3 profilMenu">
            <div class="titreMenuProfil">
                <h2>VALIDATION</h2>
            </div>

            <div class="menuProfil">
                <ul>
                    <li><a class="tovalidateLink" href="{{ path('profil_naturalist_tovalidate') }}">A valider</a></li>
                    <li><a class="historicalLink" href="{{ path('profil_naturalist_historical') }}">Historique</a></li>
                    <li><a class="myrefusalLink" href="{{ path('profil_naturalist_myrefusal') }}">Refusées</a></li>
                </ul>
            </div>
        </div>


        <div class="col-lg-9">
            <h4 class="card-title">{{ titleTable }}</h4>
            <div class="tab-content">
                {% if observation != null %}
                <table class="table">
                    <thead class="blue-grey lighteen-4">
                    <tr>
                        <th>PHOTO</th>
                        <th>DATE</th>
                        <th>AUTEUR</th>
                        <th>NOM</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for observations in observation %}
                        <tbody>
                        <tr>
                            <td><img src="{{ asset('uploads/observationImg/' ~ observations.observationImages.imageName) }}" class="img-fluid previewImg" alt="Responsive image"></td>
                            <td><a class="observationDate" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.observationDate |date("d/m/Y") }}</a></td>
                            <td><a class="observationNom" {# href="{{ path('observation', { "id": observations.id }) }}#}">{{ observations.user }}</a></td>
                            <td><a class="observationFamille" href="{{ path('observation', { "id": observations.id }) }}">{{ observations.taxref.nomComplet }}</a></td>
                            <td><a href="{{ path('naturalist_observation_update', { "id": observations.id }) }}" class="fa fa-edit"  aria-hidden="true" title="PreviewObservationLien"></a></td>

                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div class="alert alert-warning">Pas d'observation trouvée </div>
            {% endif %}
        </div>
    </div>



    <!--/.Panel-->
{% endblock %}
