{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->

        <div class="row">
            <div class="col-3 profilMenu">
                <div class="titreMenuProfil">
                    <h2>OBSERVATIONS</h2>

                </div>



                <div class="menuProfil">
                    <ul>
                        <li><a class="allLink" href="{{ path('profil_user_all') }}">Toutes</a></li>
                        <li><a class="draftcopyLink" href="{{ path('profil_user_draftcopy') }}">Brouillons</a></li>
                        <li><a class="validatedLink" href="{{ path('profil_user_validated') }}">Validées</a></li>
                        <li><a class="inprogressLink" href="{{ path('profil_user_inprogress') }}">En cours</a></li>
                        <li><a class="rejectedLink" href="{{ path('profil_user_rejected') }}">Refusées</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">

                <a href="https://www.facebook.com/groups/143719076291913/" target="_blank"><button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i>Communauté Facebook</button></a>
                <h4 class="card-title">{{ titleTable }}</h4>



                <form class="form-inline">
                    <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
                </form>

                    <div class="tab-content">
                        {% if observation != null %}
                                <table class="table">
                                    <thead class="blue-grey lighteen-4">
                                    <tr>
                                        <th>Photo</th>
                                        <th>Date</th>
                                        <th>Nom</th>
                                        <th>Famille</th>
                                        <th>État</th>
                                    </tr>
                                    </thead>
                                    {% for observations in observation %}
                                        <tbody>
                                            <tr>
                                                {% if observations.observationImages == null %}
                                                    <td><img src="{{ asset('images/nao-logo-couleur.png') }}" class="img-fluid previewImg" alt="Responsive image"></td>
                                                {% else %}
                                                <td><img src="{{ asset('uploads/observationImg/' ~ observations.observationImages.imageName) }}" class="img-fluid previewImg" alt="Responsive image"></td>
                                                {% endif %}
                                                <td><a class="observationDate">{{ observations.observationDate |date("d/m/Y") }}</a></td>
                                                <td><a class="observationNom">{{ observations.user }}</a></td>
                                                <td><a class="observationFamille">{{ observations.taxref.famille }}</a></td>
                                                {% if observations.observationStatus  == 4 %}
                                                    <td><i class="fa fa-times-circle-o" aria-hidden="true"></i></td>
                                                {% elseif observations.observationStatus  == 3 %}
                                                    <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                                                {%  elseif observations.observationStatus  == 2 %}
                                                    <td><i class="fa fa-undo" aria-hidden="true"></i></td>
                                                {% else %}
                                                    <td><i class="fa fa-archive" aria-hidden="true"></i></td>
                                                {%  endif %}

                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                    </div>
                        {% else %}
                            <div class="alert alert-warning">Pas d'observation trouvée </div>
                        {% endif %}
            </div>
        </div>
    <!--/.Panel-->
{% endblock %}
