{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-3 profilMenu">
        <div class="titreMenuProfil">
            <h2>OBSERVATIONS</h2>
        </div>
        <div class="menuProfil">
            <ul>
                <li><a class="allLink" href="{{ path('profil_user_all') }}">Toutes</a></li>
                <li><a class="draftcopyLink" href="{{ path('profil_user_draftcopy') }}">Brouillons</a></li>
                <li><a class="validatedLink" href="{{ path('profil_user_validated') }}">Validées</a></li>
                <li><a class="inprogressLink" href="{{ path('profil_user_inprogress') }}">En cours</a></li>
                <li><a class="rejectedLink" href="{{ path('profil_user_rejected') }}">Refusées</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 mainProfil">
        <a href="https://www.facebook.com/groups/143719076291913/" target="_blank"><button type="button" class="btn btn-fb pull-right"><i class="fa fa-facebook left"></i>Communauté Facebook</button></a>
        <div>
            <h4 class="card-title">{{ titleTable }}</h4>
            <form class="form-inline searchBar">
                <input class="form-control w-25 pull-right" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="tab-content">
            {% if observation != null %}
            <table class="table">
                <thead class="grey lighten-5 lighteen-4">
                <tr>
                    <th>Photo</th>
                    <th>Date</th>
                    <th>Nom</th>
                    <th>Famille</th>
                    <th>État</th>
                </tr>
                </thead>
                {% for observations in observation %}
                <tbody>
                    <tr>
                        {% if observations.observationImages == null %}
                            <td><img src="{{ asset('images/nao-logo-couleur.png') }}" class="img-fluid previewImg" alt="Responsive image"></td>
                        {% else %}
                            <td><img src="{{ asset('uploads/observationImg/' ~ observations.observationImages.imageName) }}" class="img-fluid previewImg" alt="Responsive image"></td>
                        {% endif %}
                        <td><a class="observationDate">{{ observations.observationDate |date("d/m/Y") }}</a></td>
                        <td><a class="observationNom">{{ observations.taxref.nomVern }}</a></td>
                        <td><a class="observationFamille">{{ observations.taxref.famille }}</a></td>
                        <td><a class="observationStatus" href="{{ path('user_observation_draft', { "id": observations.id }) }}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
            <div class="alert alert-warning">Pas d'observation trouvée </div>
        {% endif %}
    </div>
</div>
{% endblock %}
