{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">Titre</h4>

        <div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <input type="input" value="Brouillon"
                   class="btn btn-default pull-left" />

            <input type="submit" value="Publier"
                   class="btn btn-default pull-right" />
        </div>
    </div>
    <!--/.Panel-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.datepicker').pickadate();
    </script>
{% endblock %}
