<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plateforme collaborative d'observation d'oiseau (projet5)">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Plateforme collaborative d'observation d'oiseau{% endblock %}</title>

    {% block stylesheets %}


        <link href="{{ asset('MDB-Pro/MDB-Pro/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('MDB-Pro/MDB-Pro/css/mdb.min.css') }}" rel="stylesheet">
        <link href="{{ asset('MDB-Pro/MDB-Pro/css/style.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Feuille de style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!-- Jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% endblock %}

</head>
<body>
<!------------------------ Entête ------------------------>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-main-brown-1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img
                                src="{{ asset('pictos/nao-logo-bl.png') }}" class="menuImage"
                                alt="NAO"></a>
                </li>

                <li class="nav-item icon-nav">
                    <a class="nav-link" href="https://www.facebook.com/groups/143719076291913/"><i
                                class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item icon-nav">
                    <a class="nav-link" href="https://www.instagram.com/nao_nosamislesoiseaux/"><i
                                class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item icon-nav">
                    <a href="http://eepurl.com/dgJ0Y9">
                        <img src="{{ asset('pictos/newsletter_bl.png') }}" alt="newsletter" class="icon"></a>
                </li>
            </ul>
            <div class="row justify-content-end nav-link-perso">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link light-nav" href="{{ path('homepage') }}">Accueil<span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light-nav" href="{{ path('actualite') }}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link light-nav" href="{{ path('aPropos') }}">A propos</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="boutonProfil">
            <ul class="navbar-nav nav-flex-icons align-items-center">
                <li class="nav-item">
                    <a class="btn-floating right" href="{{ path('addObservation') }}" >
                        <i class="fa fa-plus"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <div class="btn-group">
                        <img src="{{ asset('pictos/user.svg') }}"  alt="profil"
                             class="dropdown-toggle icon" type="button" data-toggle="dropdown">
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('profil_admin_alluser') }}">Mon profil</a>
                                {% elseif is_granted('ROLE_EDITOR') %}
                                    <a class="dropdown-item" href="{{ path('profil_editor_allarticle') }}">Mon
                                        profil</a>
                                {% elseif is_granted('ROLE_NATURALIST') %}
                                    <a class="dropdown-item" href="{{ path('profil_naturalist_tovalidate') }}">Mon
                                        profil</a>
                                {% elseif is_granted('ROLE_USER') %}
                                    <a class="dropdown-item" href="{{ path('profil_user_all') }}">Mon profil</a>
                                {% endif %}

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>  Se
                                    Déconnecter</a>

                            {% else %}
                                <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Se Connecter</a>
                                <a class="dropdown-item"
                                   href="{{ path('fos_user_registration_register') }}">S'incrire</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
    {% block header %}
    {% endblock %}

</header>


<!------------------------ Contenu ------------------------>
<main id="content">
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</main>
<!------------------------ Pied de page ------------------------>
<footer class="bg-main-brown-1 align-items-center">

        <div class="row justify-content-end footer-link">
            <div class="d-flex justify-content-around footer-div">
                <span>
                    <a class="white-text" href="{{ path('faq') }}">FAQ </a>
                </span>
                <span >
                    <a class="white-text" href="{{ path('contact') }}"> Contact </a>
                </span>
                <span >
                    <a class="white-text" href="{{ path('mentions') }}"> Mentions légales </a>
                </span>
            </div>

        </div>

</footer>
<!--/.Footer-->

{% block javascripts %}
    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/mdb.min.js') }}"></script>
{% endblock %}
</body>
</html>