<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plateforme collaborative d'observation d'oiseau (projet5)">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Plateforme collaborative d'observation d'oiseau{% endblock %}</title>

    {% block stylesheets %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}">

        <link href="{{ asset('MDB-Pro/MDB-Pro/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('MDB-Pro/MDB-Pro/css/mdb.min.css')}}" rel="stylesheet">
        <link href="{{ asset('MDB-Pro/MDB-Pro/css/style.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Feuille de style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}


</head>
<body>
<!------------------------ Entête ------------------------>
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-default">
        <a class="navbar-brand" href="{{ path('homepage') }}"><strong>NAO</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actualite') }}">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('aPropos') }}">A propos</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                     <a class="nav-link" href="{{ path('user_info') }}">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Se Déconnecter</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Se Connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">S'incrire</a>
                </li>


                {% endif %}
            </ul>

        </div>
    </nav>

</header>


<!------------------------ Contenu ------------------------>
<main id="content">
    <div class="container">
        <br/>
        <br/>
        {% block content %}
        {% endblock %}
    </div>
</main>
<!------------------------ Pied de page ------------------------>
<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">

            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid mentions">
            @ 2017 NAO <a href="{{ path('mentions') }}"> Mentions légales</a><a href="#">FAQ</a>
            <a href="#">Contact</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


{% block javascripts %}
    <!-- SCRIPTS -->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/mdb.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/mdb.min.js') }}"></script>
{% endblock %}
</body>
</html>
