<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Plateforme collaborative d'observation d'oiseau (projet5)">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Plateforme collaborative d'observation d'oiseau{% endblock %}</title>

    {% block stylesheets %}


        <link href="{{ asset('MDB-Pro/MDB-Pro/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('MDB-Pro/MDB-Pro/css/mdb.min.css') }}" rel="stylesheet">
        <link href="{{ asset('MDB-Pro/MDB-Pro/css/style.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Feuille de style -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!-- Jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% endblock %}

</head>
<body>
<!------------------------ Entête ------------------------>
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark brown">
        <a class="navbar-brand" href="{{ path('homepage') }}"><strong>NAO</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actualite') }}">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('aPropos') }}">A propos</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil_admin_alluser') }}">Mon profil</a>
                        </li>
                    {% elseif is_granted('ROLE_EDITOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil_editor_allarticle') }}">Mon profil</a>
                        </li>
                    {% elseif is_granted('ROLE_NATURALIST') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil_naturalist_tovalidate') }}">Mon profil</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil_user_all') }}">Mon profil</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Se Déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Se Connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">S'incrire</a>
                    </li>
                {% endif %}
                <span>
                    <a class="btn-floating green right" href="{{ path('addObservation') }}">
                    <i class="fa fa-plus"></i>
                </a>
                </span>

            </ul>

        </div>
        <span>
            <a class="nav-link" href="#"><img src="{{ asset('pictos/user.svg') }}" style="width: 5%; height: 5%"></a>
        </span>
    </nav>
    {% block header %}
    {% endblock %}

</header>


<!------------------------ Contenu ------------------------>
<main id="content">
    <div class="container-fluid">
        <br/>
        <br/>
        {% block content %}
        {% endblock %}
    </div>
</main>
<!------------------------ Pied de page ------------------------>
<footer class="page-footer rgba-brown-strong center-on-small-only">

    <!--Copyright-->
    <div class="footer-copyright rgba-brown-strong ">
        <div class="container-fluid mentions text-right">
            <a href="#">FAQ </a> <a href="#">Contact </a>
            <a href="{{ path('mentions') }}"> Mentions légales </a>


        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->


{% block javascripts %}
    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('MDB-Pro/MDB-Pro/js/mdb.min.js') }}"></script>
{% endblock %}
</body>
</html>