{% trans_default_domain 'FOSUserBundle' %}
{{form_start(form, {'method': 'POST', 'attr':{'class': 'register divforminscire'}})}}

    <hr class="hr-light">
    <hr class="hr-light">
    <hr class="hr-light">

        <div class="card wow fadeInRight" data-wow-delay="0.3s">
            <div class="card-body">
                <!--Header-->
                <div class="text-center">
                    <h4 class="card-title">Formulaire d'inscription</h4>
                    <hr class="hr-light">
                </div>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-user prefix white-text"></i>

                    <div class="input-field col-md-12">
                        <i class="fa fa-user prefix white-text"></i>
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                    {{ form_errors(form.username) }}

                    <div class="input-field col-md-12">
                        <i class="fa fa-user prefix white-text"></i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="input-field col-md-12">
                        <i class="fa fa-user prefix white-text"></i>
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                    {{ form_errors(form.plainPassword.first) }}


                    <div class="input-field col-md-12">
                        <i class="fa fa-user prefix white-text"></i>
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                    {{ form_errors(form.plainPassword.second) }}

            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix white-text active"></i>



            </div>

            <div class="text-center">
                <button class="btn btn-indigo" type="submit" name="action" formnovalidate>
                    {{ 'registration.submit'|trans }}
                </button>
            </div>

        </div>
        </div>

{{ form_end(form) }}
