{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <hr class="hr-light">
    <hr class="hr-light">
    <hr class="hr-light">
<form  action="{{ path("fos_user_security_check") }}" method="post">
<div class="card wow fadeInRight" data-wow-delay="0.3s">
    <div class="card-body">
        <!--Header-->
        <div class="text-center">
            <h4 class="card-title">Se Connecter</h4>
            <hr class="hr-light">
        </div>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-user prefix white-text"></i>

            <div class="input-field col-md-12">
                <i class="fa fa-user prefix white-text"></i>
                <input class="form-control" type="text" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required">
            </div>

            <div class="input-field col-md-12">
                <i class="fa fa-user prefix white-text"></i>
                <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required">
            </div>
        </div>

        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix white-text active"></i>



        </div>

        <div class="text-center">
            <button class="btn btn-indigo" type="submit" name="action" formnovalidate>
                {{ 'security.login.submit'|trans }}
            </button>
            <hr class="hr-light mb-3 mt-4">

            <div class="inline-ul text-center d-flex justify-content-center">
                <a class="icons-sm tw-ic">
                    <i class="fa fa-twitter white-text"></i>
                </a>
                <a class="icons-sm li-ic">
                    <i class="fa fa-linkedin white-text"> </i>
                </a>
                <a class="icons-sm ins-ic">
                    <i class="fa fa-instagram white-text"> </i>
                </a>
            </div>
        </div>

    </div>
</form>


{% endblock %}
