{% extends 'layout.html.twig' %}

{% block content %}

{% block body %}
    {% block container %}
        <!-- Vue update taxref -->
        <div class="container-fluid" id="uploadTaxref" >
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="font-size: 25px;font-weight: 600;color: #ffffff;text-transform: uppercase">
                        <i class="fa fa-refresh"></i> Mise à jour de la base Taxref
                    </h1>
                </div>
            </div>
            <!-- messages d'erreur -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {% for message in app.session.flashbag.get('info') %}
                        <div class="alert alert-info" ><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            <!--  update taxref -->
            <div class="row">
                <div class="col-lg-12">
                    <i>Format csv avec séparateur ";" et encodage utf-8 attendu</i>
                    {{ form_start(taxrefForm) }}
                    {{ form_widget(taxrefForm) }}
                    <button id="loadTaxrefButton" type="submit" class="btn" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Chargement en cours..." formnovalidate>Charger</button>
                    {{ form_end(taxrefForm) }}
                </div>
            </div>
            <hr>
            <!--  update taxref link -->
            <div class="row">
                <div class="col-lg-12">
                    <i>Format csv avec séparateur ";" et encodage utf-8 attendu</i>
                    {{ form_start(taxrefLienForm) }}
                    {{ form_widget(taxrefLienForm) }}
                    <br><button id="loadTaxrefLinkButton" type="submit" class="btn " data-loading-text="<i class='fa fa-spinner fa-spin '></i> Chargement en cours..." formnovalidate>Charger</button>
                    {{ form_end(taxrefLienForm) }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% endblock %}


{% block monscript %}

{% endblock %}

