{% extends 'layout.html.twig' %}
{% block header %}


{% endblock %}
{% block content %}
    <div id="espace"></div>
    <div class="row justify-content-md-center" id="bloc1">
        <div class="col-lg-3 bg-main-brown-2" id="search_bloc">
            <h4 class="text-uppercase light">chercher un oiseau</h4>
            <hr/>
            <div id="form_search">
                {{ form_start(form) }}
                <div>
                    {{ form_label(form.famille, 'espèce', {
                        'label_attr': {'class': 'text-uppercase'}
                    }) }}
                    {{ form_widget(form.famille) }}
                    {{ form_errors(form.famille) }}
                </div>
                <input type="submit" value="CHERCHER" class="btn btn-brown" id="btn-chercher"/>
                {{ form_end(form) }}
            </div>
        </div>
        <div id="bienvenue" class="col-lg-6">
            <p class="light">
                Découvrez et partagez vos  </p>
            <p class="gras">observation d'oiseaux</p>
            <p>et participer à notre programme de recherche</p>
        </div>
    </div>
    <div class="bloc2 col align-items-center center">
        <i class="fa fa-chevron-down icon_arrow" aria-hidden="true"></i>
    </div>
    <!--Table -->
    <div class="row" id="bloc3">
        <div class="col" id="observationListHome">
            <div >
                <h3 class="text-uppercase">Les dernières observations</h3>
            </div>

            {% if observationList is defined and not null %}
            <table class="table table-striped">
                <thead class="">
                <tr>
                    <th class="text-uppercase">Date</th>
                    <th class="text-uppercase">Nom</th>
                    <th class="text-uppercase">Photo</th>
                </tr>
                </thead>
                <tbody>
                {% for observations in observationList %}

                    <tr>
                        <td><a class="observationDate">{{ observations.observationDate |date("d/m/Y") }}</a></td>
                        <td><a class="observationNom">{{ observations.taxref.nomVern }}</a></td>
                        <td><img src="
                        {% if observations.observationImages is null %}
                            {{ asset('images/nao-logo-couleur.png') }}
                        {% else %}
                            {{ asset('uploads/observationImg/' ~ observations.observationImages.imageName ) }}
                        {% endif %} "
                                 class="img-fluid previewImg" alt="image_observation">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="alert alert-warning">Pas d'observation trouvée</div>
        {% endif %}
        <!--/.Table-->
        <!-- Map -->
        <div id="map" class="col"></div>
        <div id="json_data" style="display: none">{{ json_data }}</div>
    </div>


    <!--/.Map-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>// Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    </script>
    <script src="{{ asset('js/map_marker.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&v=3&&callback=initMap">
    </script>
{% endblock %}
