{% extends 'layout.html.twig' %}
{% block header %}


{% endblock %}
{% block content %}
    <div class="row">
        <img src="{{ asset('images/accueil.jpg') }}" alt="banniere_accueil" id="banniere_accueil">
        <div class="col-lg-3">
            <h4>Rechercher un oiseau</h4>
            <div id="form_search">

            </div>
            <div></div>
        </div>
        <div>
            <p>
                Découvrez et partagez vos observation d'oiseaux et participer à notre programme de recherche
            </p>
        </div>
    </div>

    <!--Panel-->
    <div class="row">
        <div class="col" id="observationListHome">
            <h3>Les dernières observations</h3>
            {% if observationList is defined and not null %}
            <table class="table">
                <thead class="blue-grey lighteen-4">
                <tr>
                    <th>Date</th>
                    <th>Nom</th>
                    <th>Photo</th>
                </tr>
                </thead>
                {% for observations in observationList %}
                    <tbody>
                    <tr>
                        <td><a class="observationDate">{{ observations.observationDate |date("d/m/Y") }}</a></td>
                        <td><a class="observationNom">nom</a></td>
                        <td><img src="
                        {% if observations.observationImages is null %}
                            {{ asset('images/nao-logo-couleur.png') }}
                        {% else %}
                            {{ asset('uploads/observationImg/' ~ observations.observationImages.imageName ) }}
                        {% endif %} "
                                 class="img-fluid previewImg" alt="image_observation">
                        </td>
                    </tr>


                    </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
            <div class="alert alert-warning">Pas d'observation trouvée</div>
        {% endif %}
    </div>
    <div id="map" class="col"></div>

    <!--/.Panel-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/map_marker.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&v=3&&callback=initMap">
    </script>
{% endblock %}
