{% extends 'layout.html.twig' %}

{% block content %}
    <!--Panel-->
    <div class="card card-body">
        <h4 class="card-title">Carte</h4>

    </div>
    <div id="map"></div>
    <div id="data" data-map="{{ data }}">
    </div>
    <!--/.Panel-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>var testData = "{{ data }}";
    console.log(testData)</script>
    <script src="{{ asset('js/map.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&v=3&&callback=initMap">
</script>
{% endblock %}
